In [4]:
import pandas as pd

In [12]:
col_list = ['id', 'last_date', 'language']
total_list = [[1, '2021-03-28-16:09:00', 'Chinese'], [2, '2021-03-28-16:09:15', 'Japanese'], [3, '2021-03-28-16:09:26', 'English']]

In [13]:
df = pd.DataFrame(total_list, columns=['id', 'last_date', 'language'])

In [14]:
df

   id            last_date  language
0   1  2021-03-28-16:09:00   Chinese
1   2  2021-03-28-16:09:15  Japanese
2   3  2021-03-28-16:09:26   English

In [15]:
df_new = df.groupby(['language']).agg(['count'])

In [16]:
df_new

            id last_date
         count     count
language
Chinese      1         1
English      1         1
Japanese     1         1

In [17]:
list(df_new)

[('id', 'count'), ('last_date', 'count')]

In [20]:
df_new.index

Index(['Chinese', 'English', 'Japanese'], dtype='object', name='language')

In [26]:
df_new.get_group('Chinese')

AttributeError: 'DataFrame' object has no attribute 'get_groups'